@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  margin: 0;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 
    Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flip-card {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.flip-card .top,
.flip-card .bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  height: 0.75em;
  line-height: 1;
  padding: 0.5em;
  overflow: hidden;
  @apply bg-clock-card dark:bg-gray-800;
}

.flip-card .top,
.flip-card .top-flip {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.flip-card .bottom,
.flip-card .bottom-flip {
  display: flex;
  align-items: flex-end;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  animation: flip-top 250ms ease-in;
  transform-origin: bottom;
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  animation: flip-bottom 250ms ease-out 250ms;
  transform-origin: top;
}

@keyframes flip-top {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flip-bottom {
  0% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}